body{
    background-color: #e6dbc5;
}

header{
    height: 8.5vw;
    align-items: center;
}
 
.Logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'rubik';
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #265742;
}

header > h3{
    width: 4rem;
    margin-right: 2rem;
    margin-left: 1rem;
    text-transform: uppercase;
}

.btnApp{
    font-family: "Josefin Sans", Sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    background-color: #9cdb72;
    border-radius:25px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    left: 2.5rem;
    position: relative;
    border: none;
}

.btnApp:hover{
    background-color: #61CE70;
    transition: all .3s ease;
}

.imgLogo{
    width: 4rem;
    margin-left: 1rem;
}

.linkMenu{
    margin-right: 2rem;
    font-family: "PT Sans", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffffb7;
}

.linkMenu:hover{
    color: #61CE70;
    transition: all .3s ease;
}

nav > ul{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    top: -3rem;
}

.fundo{
    height: 70vh;
    color: #265742;
    font-family: "PT Sans", Sans-serif;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.03em;
    margin-left: 14%;
    margin-right: 14%;
}

.fundo > h4{
    font-size: 1rem;
    margin-bottom: 2rem;
    letter-spacing: 0.3em;
    margin-top: 10.75vh;
}

section{
    display: flex;
    align-items: center;
}

#descrição{
    height: 95vh;
    background-color: #265742;
}

.ladoImg{
    height: 100%;
    width: 50%;
    background-image: url(https://cdn.shopify.com/s/files/1/0594/9397/4211/files/pattnerOp.svg?v=1661762153);
    background-repeat: repeat;
    background-position: right top;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terraDescri{
    width: 80%;
}

.ladoTxt {
    width: 50%;
    margin: 2%;
}

#descrição > .ladoTxt > p{
    color: #9cdb72;
}

#descrição > .ladoTxt > h1{
    color: #9cdb72;
}

.separadortxt{
    width: 15%;
    height: 5px;
    background-color: #e6dbc5;
    border-radius: 15px;
    margin: 15px;
}

#numeros{
    height: 35vh;
}

.adicao{
    width: 6%;
    margin: 1rem;
}

.ladoImg > p {
    padding: 1rem;
    font-size: 1rem;
    color: #575757;
    font-family: "PT Sans", Sans-serif;
    font-weight: 800;
    text-transform: uppercasex;
    position: relative;
    top: 3.5rem;
    right: 5rem;
    display: block;
}

.ladoImg > h1{
    color: #575757;
    font-family: "PT Sans", Sans-serif;
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    position: relative;


}

.ladoTxt > h1{
    font-size: 3rem;
    color: #575757;
    font-family: "PT Sans", Sans-serif;
    font-weight: 800;
    text-transform: uppercasex;
}

.ladoTxt > p{
    color: #575757;
    font-family: "PT Sans", Sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 2rem;
}

.linha{
    background-color: #61CE70;
    width: 100%;
    height: 3px;
}


.bi{
    color: #00893B;
    width: 36px; 
    height: 36px;
}

#porQue{
    height: 100vh;
    display: block;
    background-color: #3b7c4478;
    text-align: center;
 
}

.porQueTxt{
    padding-left: 20%;
}

.motivos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.motivos > div {
    margin: 2%;
}

footer{
    height: 10vh;
    text-align: center;
    align-items: center;
    display: flex;
    position: relative;
    left: 43%;
    width: 14%;
}

.linhaImg{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}

.col-3{
    width: 25%;
}

.col-3 p{
   font-size: 1rem;
   text-align: center;
}

.imgGaleria{
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
}