body{
    background-color: rgb(191, 191, 191);
}

header{
    background-color: blue;
    padding: 3%;
}

.logo{
    background-color: yellow;
}

nav{
    background-color: grey;
}

main{
    background-color: greenyellow;
    width: 80%;
    margin-left: 10%;
}

section{
    background-color: rgb(235, 189, 204);
    padding: 8px;
    padding-top: 1.2rem;
}

h2{
    font-size: 1.5em;
}

footer{
    background-color: rebeccapurple;
    padding: 3%;
}

.titulo{
    line-height: 3;
    font-weight: bold;
    text-align: center;
}

h1{
    font-size: 2em;
}

p, ul, li{
    line-height: 1.5;
}

table {
  border-collapse: collapse;
  width: 80%;
  font-size: 1.2em;
  margin-left: 10%;
  margin-bottom: 2%;
}

td, th {
  border: 5px dashed #ff0000;
  text-align: left;
  padding:   1.5%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}