body{
    background-color: #e6dbc5;
}

header{
    height: 8.5vw;
    align-items: center;
}

.Logo{
    display: flex;
    align-items: center;
    font-size: 2vw;
    font-family: 'rubik';
    font-weight: 900;
    text-transform: uppercase;
    background-color: #265742;
    padding: 0.8%;
}

header > h3{
    width: 4rem;
    margin-right: 2rem;
    margin-left: 1rem;
    text-transform: uppercase;
}

.btnApp{
    font-family: "Josefin Sans", Sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    background-color: #9cdb72;
    border-radius:25px;
    padding: 2vh;
    padding-right: 3vh;
    padding-left: 3vh;
    position: relative;
    border: none;
    left: 0%;
}

.btnApp:hover{
    background-color: #61CE70;
    transition: all .3s ease;
}

.imgLogo{
    width: 3vw;
    margin-left: 1rem;
}

.linkMenu{
    margin-right: 2rem;
    font-family: "PT Sans", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffffb7;
}

.linkMenu:hover{
    color: #61CE70;
    transition: all .3s ease;
}

.fundo > h4{
    font-size: 1rem;
    margin-bottom: 2rem;
    letter-spacing: 0.3em;
}

nav > ul{
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
    align-items: center;
    top: -3.3rem;
}

.fundo{
    height: 40vh;
    width: 100%;
    color: #e1ffa6;
    font-family: "PT Sans", Sans-serif;
    font-size: 2.8vw;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.03em;
    z-index: 3;
}

.imgFundo{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -2;
}

.sobrepor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

main{
    background-image: url(https://cdn.shopify.com/s/files/1/0594/9397/4211/files/desktopSquarePattern.svg?v=1668587822);
    width: 100%;
    margin-top: 7rem;
}

#galeria{
    height: 160vh;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.linhaImg{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.col-4{
    width: 30%;
    margin-left: 3.33%;
    margin-bottom: 3rem;
    text-align: center;
}

.imgGaleria{
    width: 90%;
    height: 10%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 30px;
    margin-bottom: 12%;
}

.col-4 p{
   font-size: 1.5vw;
   text-align: center;
   margin-top: 5%;
   color: #265742;
}

#galeria > h2{
    color: #265742;
    font-family: "PT Sans", Sans-serif;
    font-size: 3vw;
    font-weight: 800;
    text-transform: uppercase;
    margin: 4%;
    margin-top: 8%;
}

.col-4 label{
    color: #265742;
    font-family: "PT Sans", Sans-serif;
    font-size: 3.2vh;
    font-weight: 900;
}

#tabela{
    height: 100vh;
    background-color: #265742;
}

#tabela > h2{
    color: #e6dbc5;
    font-family: "PT Sans", Sans-serif;
    font-size: 3vh;
    font-weight: 800;
    text-transform: uppercase;
    margin: 4%;
    padding-top: 3%;
}

th{
    text-transform: uppercase;
    color: #000000;
    font-family: "PT Sans", Sans-serif;
    font-size: 2vw;
    font-weight: 900;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
  }

table, td, th {
    border: 3px solid #e6dbc5;
  }

  th, td {
    padding: 15px;
    text-align: left;
    color: #e6dbc5;
  }

footer > nav > .Logo{
    margin-left: 35%;
}

footer{
    height: 30vh;
    background-color: #265742;
}

.linhaFooter{
    background-color: #9cdb72;
    height: 2px;
    width: 100%;
}

footer > h1 {
    color: #e6dbc5;
    letter-spacing: 0.1em;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 0.5rem;
}

.separador{
    background-color: #9cdb72;
    height: 2px;
    width: 20%;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

footer > nav > p{
    color: #abbaa8;
    margin-left: 3rem;
    font-size: 1rem
}

footer > nav > p > a {
    color: #abbaa8;
    text-decoration: none;
}

footer > nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

@media screen and (max-width: 300px){
    .col-4 label {
        font-size: 2vw;
    }

    footer{
        position: relative;
        left: -3rem;
    }
}